@import 'general';
@media screen and(max-width:1000px) {
    
    .question{
        margin-top:40px;;
    }
    
    } 
.invalid-feedback,.is-invalid{
    color:red!important;
}

h5{
    font-weight:700!important
}
.contacts {
    li{color:$text-grey;
    i{
        color:$blue;
        margin-right:6px;
        font-size:10px;
        
    }
}}
.send-message{
    color:white;
    background-color: $blue;
    font-weight:600;
    padding:10px 15px;
}

.hours{
    li{justify-content: space-between;
        color:$text-grey;
        margin-top:6px;
    }
}